{
  "root": true,
  "env": {
    "node": true
  },
  "extends": ["eslint:recommended", "plugin:vue/vue3-recommended", "prettier"],
  "plugins": ["prettier"],
  "parser": "vue-eslint-parser",
  "parserOptions": {
    "ecmaVersion": "latest",
    "parser": "@typescript-eslint/parser"
  },
  "rules": {
    "prettier/prettier": "error",
    "vue/multi-word-component-names": "off",
    "vue/component-api-style": ["error", ["script-setup"]],
    "no-console": "warn"
  }
}
